@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
.all-div {
  font-family: 'Eczar', serif;
}

button {
  font-size: 180%;
  font-family: 'Eczar', serif;
}

label {
  font-family: 'Eczar', serif;
}

b {
  font-size: 120%;
}
