@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
.user-stats {
  font-family: 'Eczar', serif;
}

button {
  font-size: 180%;
  font-family: 'Eczar', serif;
}

.centered {
  margin: 0 auto;
}
tr:nth-child(even) {
  background-color: darkgray;
}
tr:nth-child(odd) {
  background-color: gray;
}
